<div class="bg-body px-[11%] py-[5%]">
   <div class="bg-primary flex flex-row justify-around text-white rounded-full p-3">
      <button routerLink="/home" routerLinkActive="activebutton" fragment="home" class="rounded-full bg-primary px-3.5 py-2.5 text-2xl font-light text-white shadow-xs hover:bg-white hover:text-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
         Home
      </button>      
      <button routerLink="/about" routerLinkActive="activebutton" fragment="about" class="rounded-full bg-primary px-3.5 py-2.5 text-2xl font-light text-white shadow-xs hover:bg-white hover:text-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
         About
      </button>
      <a routerLink="/home" routerLinkActive="activebutton" fragment="portfolio" class="rounded-full bg-primary px-3.5 py-2.5 text-2xl font-light text-white shadow-xs hover:bg-white hover:text-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
         Services
      </a>
      <div class="font-light py-2.5">
         <img src="assets/logo/LogoSj-01.png" alt="Icon 4" class="inline-block mr-1" width="26" height="26"/>
      </div>
      <a href="#" class="rounded-full bg-primary px-3.5 py-2.5 text-2xl font-light text-white shadow-xs hover:bg-white hover:text-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
         Portafolio
      </a>
      <a href="#" class="rounded-full bg-primary px-3.5 py-2.5 text-2xl font-light text-white shadow-xs hover:bg-white hover:text-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
         Animations
      </a>      
      <a routerLink="/home" routerLinkActive="activebutton" fragment="contact" class="rounded-full bg-primary px-3.5 py-2.5 text-2xl font-light text-white shadow-xs hover:bg-white hover:text-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
         Contact
      </a>
   </div>
</div>