<div class="bg-body px-[7%] py-[4%] flex w-full justify-center">
  <div class="bg-primary w-full flex flex-row justify-around text-white rounded-full p-3">
    <button routerLink="/home" routerLinkActive="activebutton" fragment="home"
      class="rounded-full bg-primary px-3.5 py-2.5 font-light text-sm sm:text-base lg:text-lg text-white shadow-xs hover:bg-white hover:text-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
      Home
    </button>
    <button routerLink="/about" routerLinkActive="activebutton" fragment="about"
      class="rounded-full bg-primary px-3.5 py-2.5 font-light text-sm sm:text-base lg:text-lg text-white shadow-xs hover:bg-white hover:text-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
      About
    </button>
    <button routerLink="/home" routerLinkActive="activebutton" fragment="expertise"
      class="rounded-full bg-primary px-3.5 py-2.5 font-light text-sm sm:text-base lg:text-lg text-white shadow-xs hover:bg-white hover:text-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
      Services
    </button>
    <div class="font-light pt-2">
      <img src="assets/logo/LogoSj-01.png" alt="Icon 4" class="inline-block mr-1" width="40" />
    </div>
    <button routerLink="/home" routerLinkActive="activebutton" fragment="portfolio"
      class="rounded-full bg-primary px-3.5 py-2.5 font-light text-sm sm:text-base lg:text-lg text-white shadow-xs hover:bg-white hover:text-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
      Portafolio
    </button>
    <button href="#"
      class="rounded-full bg-primary px-3.5 py-2.5 font-light text-sm sm:text-base lg:text-lg text-white shadow-xs hover:bg-white hover:text-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
      Animations
    </button>
    <button routerLink="/home" routerLinkActive="activebutton" fragment="contact"
      class="rounded-full bg-primary px-3.5 py-2.5 font-light text-sm sm:text-base lg:text-lg text-white shadow-xs hover:bg-white hover:text-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
      Contact
    </button>
  </div>
</div>