<div class="bg-primary px-[11%] py-[5%]">
    <div class="grid grid-cols-3 gap-6 md:grid-cols-2 lg:grid-cols-3 text-white">
        <div class="col-span-3 flex align-middle justify-center">
            <p class="text-[24px] font-light">
                MY EXPERTISE
            </p>
        </div>
        <div class="col-span-3 flex align-middle justify-center">
            <h1 class="text-[48px] font-black">Checkout my work</h1>
        </div>
        <div class="col-span-1 flex flex-col">
            <div class="col-span-1 flex align-middle justify-center">
                <img src="../../../../assets/illutrations/introimg.png" alt="Logo" class="bg-cover" />
            </div>
            <a href="#"
                class="m-6 flex align-middle justify-center rounded-full bg-secondary px-6 py-2.5 text-2xl font-light text-white shadow-xs hover:bg-white hover:text-secondary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary">
                Web/Mobile Design
            </a>
        </div>
        <div class="col-span-1 flex flex-col">
            <div class="col-span-1 flex align-middle justify-center">
                <img src="../../../../assets/illutrations/introimg.png" alt="Logo" class="bg-cover" />
            </div>
            <a href="#"
                class="m-6 flex align-middle justify-center rounded-full bg-secondary px-6 py-2.5 text-2xl font-light text-white shadow-xs hover:bg-white hover:text-secondary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary">
                UI/UX Design Gamming
            </a>
        </div>
        <div class="col-span-1 flex flex-col">
            <div class="col-span-1 flex align-middle justify-center">
                <img src="../../../../assets/illutrations/introimg.png" alt="Logo" class="bg-cover" />
            </div>
            <a href="#"
                class="m-6 flex align-middle justify-center rounded-full bg-secondary px-6 py-2.5 text-2xl font-light text-white shadow-xs hover:bg-white hover:text-secondary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary">
                Animations
            </a>
        </div>
    </div>
</div>