<div class="bg-gray">
    <div class="bg-cover" style="background-image: url('assets/illutrations/background.png');">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-[5%] sm:px-[11%] py-[5%]">
            <div
                class="col-span-1 md:col-span-1 lg:col-span-2 text-white flex flex-col justify-center order-2 md:order-1">
                <p class="text-3xl md:text-[40px] font-black">I enjoy creating unique UIs that</p>
                <p class="text-3xl md:text-[40px] font-black mt-5 md:pt-3">
                    deliver a<span class="text-primary"> different experience.</span>
                </p>
            </div>
            <div class="col-span-1 flex justify-center items-center order-1 md:order-2">
                <img src="assets/illutrations/pj.png" alt="Logo" class="max-h-80 w-auto" />
            </div>
        </div>
    </div>
    <section class="px-[20%] pb-[5%]" id="portfolio">
        <div class="text-white col-span-3 flex align-middle justify-center mb-6">
            <h1 class="text-[48px] font-black">Featured Works</h1>
        </div>
        <mat-grid-list cols="4" rowHeight="100px" gutterSize="20px">
            @for (tile of tiles; track tile) {
            <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color"
                class="rounded-3xl">{{tile.text}}</mat-grid-tile>
            }
        </mat-grid-list>
    </section>
</div>