<div>
    <section id="home" class="scroll-mt-24">
        <app-introduction></app-introduction>
    </section>

    <section id="about" class="scroll-mt-24">
        <app-expertise></app-expertise>
    </section>

    <section id="portfolio" class="scroll-mt-24">
        <app-featured></app-featured>
    </section>

    <section id="services" class="scroll-mt-24">
        <app-education></app-education>
    </section>

    <section id="contact" class="scroll-mt-24">
        <app-footer></app-footer>
    </section>
</div>