<div class="bg-primary w-full flex flex-col pt-10 pb-7">
    <h1 class="text-2xl md:text-5xl my-4 text-white font-black text-center">{{title}}</h1>
    <h3 class="text-lg md:text-3xl my-4 text-white font-light text-center">{{message}}</h3>
    <div class="flex justify-center">
        <button type="submit" (click)="cerrar()"
            class="w-[194px] rounded-full bg-secondary px-3 py-1 md:py-3 text-sm md:text-lg lg:text-[20px] font-light text-white shadow-xs hover:bg-white hover:text-secondary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
            Close
        </button>
    </div>
</div>