<div class="bg-body px-[11%] py-[5%]">
    <div class="grid grid-cols-3 gap-6 md:grid-cols-2 lg:grid-cols-3">
        <div class="col-span-2 text-white flex flex-col">
            <h1 class="text-[48px] font-black">I'm Sanjey Miranda UI designer.</h1>
            <p class="text-[24px] font-extralight my-2">Hello! I'm a UI designer specialized in reactive motion for
                mobile,
                web and gaming. I started working on UI at the beginning of 2024 and have been doing it ever since.</p>
            <p class="text-[18px] text-primary font-semibold my-1">(You can interact with all the animation and photos on
                this
                page, some of them react just by moving your cursor over them, while others respond when you click.)</p>
            <div class="flex flex-row space-x-10 my-4">
                <a href="#"
                    class="rounded-full bg-secondary px-6 py-2.5 text-2xl font-light text-white shadow-xs hover:bg-white hover:text-secondary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary">
                    About
                </a>
                <a href="#"
                    class="rounded-full bg-secondary px-6 py-2.5 text-2xl font-light text-white shadow-xs hover:bg-white hover:text-secondary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary">
                    Download CV
                </a>
            </div>
        </div>
        <div class="col-span-1 flex align-middle justify-center">
            <img src="assets/illutrations/introimg.png" alt="Logo" class="bg-cover"/>
        </div>
    </div>
</div>