<div class="bg-body px-[5%] py-[5%] sm:px-[12%] sm:py-[5%]">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="col-span-1 md:col-span-1 lg:col-span-2 text-white flex flex-col justify-center order-2 md:order-1">
      <h1 class="text-3xl md:text-[48px] font-black leading-tight">I'm <span class="text-primary">Sanjey Miranda</span> UI designer.</h1>
      <p class="text-base sm:text-lg md:text-xl font-extralight my-2">
        Hello! I'm a <span class="font-semibold">UI designer</span> specialized in <span class="font-semibold">reactive motion</span> for mobile, web and gaming. I started working on UI at the beginning of 2024 and have been doing it ever since.
      </p>
      <p class="text-sm md:text-base text-primary font-semibold my-1">
        (You can interact with all the animation and photos on this page, some of them react just by moving your cursor over them, while others respond when you click.)
      </p>
      <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-10 my-4">
        <button routerLink="/about" routerLinkActive="activebutton" fragment="about"
          class="rounded-full bg-secondary px-6 py-2.5 text-base sm:text-xl md:text-2xl font-light text-white shadow-xs hover:bg-white hover:text-secondary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary">
          About
        </button>
        <a href="#"
          class="rounded-full bg-secondary px-6 py-2.5 text-base sm:text-xl md:text-2xl font-light text-white shadow-xs hover:bg-white hover:text-secondary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary text-center">
          Download CV
        </a>
      </div>
    </div>
    <div class="col-span-1 flex align-middle justify-center order-1 md:order-2">
      <img src="assets/illutrations/introimg.png" alt="Logo" class="max-h-80 md:max-h-full mx-auto" />
    </div>
  </div>
</div>