<div class="bg-body">
    <div class="px-[11%] py-[5%]">
        <div class="text-white col-span-3 flex align-middle justify-center mb-6">
            <h1 class="text-[48px] font-black">Education</h1>
        </div>
        <mat-grid-list cols="9" rowHeight="125px" gutterSize="0px">
            @for (tile of tiles; track $index) {
            <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows" class="rounded-3xl bg-gray-800 overflow-hidden">
                <canvas #riveCanvas></canvas>
            </mat-grid-tile>
            }
        </mat-grid-list>
    </div>
</div>